@font-face {
  font-family: LoiusCafe;
  src: url(media/LouisGeorgeCafe.ttf);
}

* {
  font-family: LoiusCafe;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4A2040;
  background-color: #F8F7FF;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 10px;
}

hr {
  border: 1px solid #955ac5;
  border-radius: 5px;
}

footer {
  padding-top: 50px;
}

#quotations {
  padding: 20px 0;
  color: #955ac5;
  text-align: center;
}

#page_content {
  padding: 20px 250px;
}

/* ============ Tables ============ */

#author_table {
  font-size: 20px;
  text-align: left;
  width: 35%;
}

#author_table td {
  padding-bottom: 10px;
}

#footer_table {
  padding: 10px 55px;
  width: 100%;
  font-size: medium;
  text-decoration: none;
}


/* ============ Navigation Panel ============ */

#logo {
  margin-left: 20px;
  cursor: pointer;
  height: 55px;
}

#nav_link {
  font-size: 24px;
  color: #955ac5;
  text-decoration: none;
}

#nav_bar {
  display: inline-block;
  padding: 0 10px;
}


/* ============ Banner Slideshow ============ */

#banner_slideshow {
  overflow: hidden;
}

#banner_slideshow figure {
  position: relative;
  width: 500%;
  margin: 10;
  left: 0;
  animation: 20s banner_slideshow infinite;
}

#banner_slideshow figure img {
  float: left;
  width: 20%;
  padding: 0 50px;
  border-radius: 5%;
}


/* ============ Card Styles ============ */

#all_dcards {
  margin: 0 auto;
  display: grid;
  padding: 50px 70px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#all_credits {
  margin: 0 auto;
  display: grid;
  padding: 0 215px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#single_card {
  max-width: 500px;
  border: 2px dashed #89a7a7;
  border-radius: 60px 10px 0 0;
  margin-bottom: 50px;
}

#credit_img {
  width: 420px;
  height: 153px;
  border-radius: 60px 10px 0 0;
  object-fit: cover;
}

#dcard_img {
  width: 420px;
  border-radius: 60px 10px 0 0;
}

#card_content {
  padding: 10px 10px 20px 10px;
}

#card_content_table {
  width: 100%;
  font-size: 20px;
}

/* ============ Custom font Sizes ============*/

h1 {
  font-size: 38px;
  padding: 10px 0 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  padding-bottom: 5px;
}

p {
  font-size: 24px;
  text-align: justify;
  text-justify: inter-word;
}


/* ============ Animations ============ */

/* Change link color on hover */
#nav_link:hover {
  color: #4A2040;
  font-weight: bold;
}

/*slider animation*/
@keyframes banner_slideshow {
  0% {
    left: 0%;
  }
  17% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  42% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  67% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  92% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
