/* ===================== Font ===================== */
/* Importing external font from local storage*/
@font-face {
  font-family: LoiusCafe;
  src: url(LouisGeorgeCafe.ttf);
}


/* =================== Defaults =================== */

* {
  font-family: LoiusCafe;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4A2040;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

hr {
  border: 0.1em solid #955ac5;
}

footer {
  padding-top: 5em;
}

/*terms and conditions*/
.tnc {
  font-size: 1.2em;
  color: #ff0000;
}

#quotations {
  padding: 0.8em 0;
  color: #955ac5;
  text-align: center;
}

#page_content {
  padding: 1.3em 26em;
}


/* ==================== Buttons =================== */

.button {
  border: 0.1em solid #00FFFF;
  padding: 0.2em 1.4em;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  color: #4A2040;
  border-radius: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 1em rgba(3, 122, 158, 0.342)
}

/* Change background color on hover */
.button:hover {
  background-color: #00FFFF;
}

/* Gets even darker when clicked; buttons*/
.button:active {
  background-color: #2428ff;
}

/* ==================== Tables ==================== */

#author_table {
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}

#author_table img {
  height: 14em;
  border: 0.1em dashed #00FFFF;
  border-radius: 2.5em 0.1em;
  object-fit: fill;
}

#footer_table {
  padding: 0.5em 3em;
  width: 100%;
  font-size: medium;
  /* for swinburne.edu hyperlink*/
  text-decoration: none;
}

.left_intend {
  text-align: left;
}

.right_intend {
  text-align: right;
}

.center_allign {
  text-align: center;
}

/*last minute flight book table*/
#discount_flights {
  border-collapse: collapse;
  border: 0.1em solid #00FFFF;
  text-align: left;
  width: 100%;
}

#discount_flights th {
  background-color: #00ffff;
  color: white;
  font-size: 1.2em;
}

#discount_flights td, #discount_flights th {
  padding: 0.7em 0.6em 0.7em;
}


/* ==================== Dropdown ================== */
.seats_select {
  background-color: #00FFFF;
  font-size: 1em;
  margin: 0.3em;
  padding: 0.3em 0.7em;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 0.3em 0.4em 0 rgba(0,0,0,0.2);
  text-align: center;
}

.seats_select_main {
  appearance: none;
  background-color: #c4ffff;
  font-size: 1.3em;
  padding: 0.3em;
  border: none;
  border-radius: 1.2em;
  box-shadow: 0 0.3em 0.4em 0 rgba(0,0,0,0.2);
  text-align: center;
}


/* =============== Navigation Panel =============== */

#logo {
  margin-left: 1.6em;
  cursor: pointer;
  height: 3.4em;
}

.nav_bar {
  display: inline-block;
}

.nav_link {
  font-size: 1.5em;
  color: #955ac5;
  text-decoration: none;
  padding: 0 0.4em;
}

/* Change link color and weight on hover */
.nav_link:hover {
  color: #4A2040;
  background-color: #ebffff;
  border-radius: 0.5em;
}


/* =============== Banner Slideshow =============== */

#banner_slideshow {
  overflow: hidden;
}

#banner_slideshow figure {
  position: relative;
  width: 500%;
  left: 0;
  animation: 20s banner_slideshow infinite;
}

#banner_slideshow figure img {
  float: left;
  width: 20%;
  padding: 0 4em;
  border-radius: 5%;
}

/*slider animation*/
@keyframes banner_slideshow {
  0% {
    left: 0%;
  }
  17% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  42% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  67% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  92% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}


/* ================== Card Styles ================= */

#credit_cards {
  display: grid;
  padding: 0 26em;
  grid-template-columns: repeat(3, 1fr);
  justify-items:first baseline;
}

.single_credit_card {
  border: 0.2em dashed #00FFFF;
  border-radius: 3em 0.5em 0 0;
  width: 22em;
  margin: 0 1em 2em 0;
}

.credit_img {
  width: 21.6em;
  height: 12em;
  border-radius: 3em 0.5em 0 0;
  object-fit: fill;
}

#destination_cards {
  display: grid;
  padding: 0 26em;
  justify-items:first baseline;
}

.single_destination_card {
  border: 0.3em dashed #00FFFF;
  border-radius: 0 5em 0.5em 0;
  width: 70em;
  margin: 0 1em 2em 0;
  background-color: ;
}

.destination_img {
  width: 19em;
  border-radius: 0 2em 0 0;
}

.destination_content td {
  padding-left: 2.5em;
}

.credit_details {
  padding: 0.7em;
}

.air_stop {
  width: 21em;
}


/* =============== Custom font Sizes ===============*/

h1 {
  color: #000000;
  font-size: 3em;
  padding: 10px 0 20px;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
  padding-bottom: 5px;
}

p {
  font-size: 1.5em;
  text-align: justify;
  text-justify: inter-word;
}

/* ================================================ */