@font-face {
  font-family: LoiusCafe;
  src: url(LouisGeorgeCafe.ttf);
}

* {
  font-family: LoiusCafe;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4A2040;
  background-color: #F8F7FF;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 10px;
}

hr {
  border: 1px solid #955ac5;
  border-radius: 5px;
}

footer {
  padding-top: 50px;
}

#quotations {
  padding: 20px 0;
  color: #955ac5;
  text-align: center;
}

#page_content {
  padding: 20px 250px;
}

/* ============ Buttons ============ */

.button {
  border: 1px solid #ff8da1;
  font-size: 18px;
  padding: 10px 50px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  color: #4A2040;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(3, 122, 158, 0.342)
}

/* Change text size and color on hover */
.button:hover {
  background-color: #ffc0cb;
}

.button:active {
  background-color: #ff748c;
}

/* ============ Tables ============ */

#author_table {
  font-size: 20px;
  text-align: left;
  width: 85%;
}

#author_table img {
  height: 300px;
  border: 2px dashed #ff8da1;
  border-radius: 60px 1px 60px 1px;
}

#footer_table {
  padding: 10px 55px;
  width: 100%;
  font-size: medium;
  text-decoration: none;
}

.left_intend {
  text-align: left;
}

.right_intend {
  text-align: right;
}

.center_allign {
  text-align: center;
}

#discount_flights {
  border-collapse: collapse;
  border: 1px solid #ff8da1;
  text-align: left;
}

#discount_flights th {
  background-color: #ff748c;
  color: white;
  font-size: 18px;
}

#discount_flights td, th {
  padding: 10px 15px 10px;
}


/* ================= Dropdown =============== */
 /* Dropdown Button */
.seats_button {
  background-color: #ffc0cb;
  font-size: 16px;
  margin: 5px;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
}

/* Dropdown Content (Hidden by Default) */
.seats_available {
  display: none;
  position: absolute;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.seats_available a {
  color: black;
  padding: 12px 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.seats_available a:hover {
  background-color: #ffc0cb;
}

/* Show the dropdown menu on hover */
.seats:hover .seats_available {
  display: block;
}


/* ============ Navigation Panel ============ */

#logo {
  margin-left: 20px;
  cursor: pointer;
  height: 55px;
}

.nav_bar {
  display: inline-block;
}

.nav_link {
  font-size: 24px;
  color: #955ac5;
  text-decoration: none;
  padding: 0 10px;
}

/* Change link color and weight on hover */
.nav_link:hover {
  color: #4A2040;
  background-color: #fcf4f5;
  border-radius: 25px;
}


/* ============ Banner Slideshow ============ */

#banner_slideshow {
  overflow: hidden;
}

#banner_slideshow figure {
  position: relative;
  width: 500%; susfetch-git 
  left: 0;
  animation: 20s banner_slideshow infinite;
}

#banner_slideshow figure img {
  float: left;
  width: 20%;
  padding: 0 50px;
  border-radius: 5%;
}

/*slider animation*/
@keyframes banner_slideshow {
  0% {
    left: 0%;
  }
  17% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  42% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  67% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  92% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}


/* ============ Card Styles ============ */

#all_cards {
  display: grid;
  padding: 0 205px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.single_card {
  border: 2px dashed #ff8da1;
  border-radius: 60px 10px 0 0;
  margin-bottom: 50px;
}

.credit_img {
  width: 420px;
  height: 153px;
  border-radius: 60px 10px 0 0;
  object-fit:cover;
}

.dcard_img {
  width: 420px;
  border-radius: 60px 10px 0 0;
}

.card_content {
  padding: 10px 10px 20px 10px;
}

.card_content_table {
  width: 100%;
  font-size: 20px;
}

/* ============ Custom font Sizes ============*/

h1 {
  font-size: 38px;
  padding: 10px 0 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  padding-bottom: 5px;
}

p {
  font-size: 24px;
  text-align: justify;
  text-justify: inter-word;
}
